<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mobile Version</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo") *@

    <link href="Content/kendo/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/kendo/jquery.min.js" type="text/javascript"></script>
    <script src="Scripts/kendo/kendo.mobile.min.js" type="text/javascript"></script>
</head>

<body>
    <!--All the views-->
    @RenderBody()

    <!--This is the application layout-->
    <div data-role="layout" data-id="databinding">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
            </div>
        </header>

        <div data-role="footer">
            <div data-role="tabstrip">
                <a href="#flat" data-icon="stop">M-Flat</a>
                <a href="#grouped" data-icon="organize">M-Grouped</a>
            </div>
        </div>
    </div>

    <!--This is the template for the Flat ListView-->
    <script type="text/x-kendo-template" id="listviewHeadersTemplate">
        <h3 class="item-title">#= Name #</h3>
        <p class="item-info">#= kendo.format('{0:c}', Price) #</p>
        <p>#= Category.CategoryName #</p>
    </script>

    <script>
        // The base remote Url
        var base_url = "http://localhost:55689";

        // Create a reusable shared Transport object
        var productTransport = new kendo.data.RemoteTransport({
            read: {
                url: base_url + "/api/product",
                dataType: 'jsonp',              // jsonp is necessary here for cross domain calls, not just json
                type: 'GET'
            }
        });

        // Create a reusable shared DataSource object
        var datasource = new kendo.data.DataSource({
            transport: productTransport
        });

        // This function is data-bound to the flat listview
        function mobileProductDataBind() {
            $("#flat-listview").kendoMobileListView({
                dataSource: datasource,
                template: kendo.template($("#listviewHeadersTemplate").html())
            });
        }

        // This function is data-bound to the grouped listview
        function mobileProductGroupedDataBind() {
            $("#grouped-listview").kendoMobileListView({
                dataSource: kendo.data.DataSource.create({
                    transport: productTransport,
                    group: { field: "Category.CategoryName" }
                }),
                template: "#= Name # - #= kendo.format('{0:c}', Price) #",
                fixedHeaders: true
            });
        }
    </script>

    <script>
        window.kendoMobileApplication = new kendo.mobile.Application(document.body);
    </script>

</body>
</html>
