@{
    // Layout = null;
}

<!--This is the Flat ListView-->
<div data-role="view" id="flat" data-init="mobileProductDataBind" data-title="ListView" data-layout="databinding">
    <ul id="flat-listview"></ul>
</div>

<!--This is the Grouped ListView-->
<div data-role="view" id="grouped" data-init="mobileProductGroupedDataBind" data-transition="" data-title="ListView" data-layout="databinding">
    <ul id="grouped-listview"></ul>
</div>